---
import Picture from "astro/components/Picture.astro";

const {...activite} = Astro.props;
---

<div class=" flex justify-center items-center p-28">
    <div class="bg-gray-100 shadow-lg rounded-lg p-5 w-80 flex flex-col items-center">
      <div class="w-full  overflow-hidden rounded-lg">
        <Picture
          pictureAttributes={{ class: "w-full h-full object-cover" }}
          inferSize={true}
          src={`https://vissport.jules-becquelin.fr:443/api/files/${activite.collectionId}/${activite.id}/${activite.Affiche}`}
          alt=""
        />
      </div>
      <div class="mt-4 text-center grid-cols-3">
        <h2 class="text-2xl font-semibold text-gray-900">{activite.Titre}</h2>
        <a class="" href={`/activites/${activite.id}`}>Voir plus</a>
      </div>
    </div>
  </div>

  